# model checkpoint
*.pth

# vscode cahe
__pycache__
.vscode

# logging results
results
test

# other output
*.pdf
*.pkl

# symlink
nuscenes
nuscenes_mini

# visual results
visual/*/*.png
visual/*/*.pdf